/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
body {
	background: #ff5113;
}

.container {
	background: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	text-align: center;
	padding: 0 10px 10px 10px;
}

.container.overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.content {
	background: #DCF2FF;
	width: 60%;
	margin-left: 20%;
}
#response{
	border: 1px solid black;
	margin-top: 10px;
}
.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
/* End of Effects */

.footer {
    position: fixed;
    bottom: 0;
    background: #000;
    width: 100%
}

.footer img {
	margin-left: 50%;
}

li {
	margin: 10px;
}

#response h2{
	margin-left: 3%;
}

.topLine {
	height: 20px;
	background: #000;
	color: #FFF;
}